
@media screen and (max-width: 1080px){
    .mark{
        font-size: 18px;
    }
}
@media screen and (max-width: 767px){
    .mark{
        font-size: 16px;
        margin-top: 3%;
        margin-right: 3%;
    }
}
@media screen and (max-width: 550px){
    .mark{
        font-size: 14px;
        
    }
}
@media screen and (max-width: 767px){
    #p-one .logo{
        max-width: 18%;
    }
    .p-one__text .title{
        font-size: calc(1.65vh + 1.65vw);
    }
    .p-one__text .subtitle{
        font-size: calc(1.5vh + 1.5vw);
    }
}
@media screen and (max-width: 550px){
    .p-one__text .title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .p-one__text .subtitle{
        font-size: calc(1.3vh + 1.3vw);
    }
    #p-one .img-sun,
    #p-two .img-sun-rev{
        max-width: 40%;
    }
}

@media screen and (max-width: 425px){
    #p-one .logo{
        max-width: 35% !important;
    }
    #p-one .img-sun,
    #p-two .img-sun-rev{
        max-width: 70%;
    }
    .p-one__text{
        margin-top: 10%;
        
    }
}
@media screen and (max-height: 450px){
    #p-one .img-sun,
    #p-two .img-sun-rev{
        max-width: 28%;
    }
    .p-one__text{
        top: unset !important;
        bottom: 0vh !important;
        margin-bottom: 3%;
        margin-left: 3%;
    }
    .p-one__text .title{
        font-size: calc(1.2vh + 1.2vw) !important;
    }
    .p-one__text .subtitle{
        font-size: calc(1.1vh + 1.1vw) !important;
    }
    #p-one .logo {
        margin-top: 2%;
        margin-left: 2%;
        max-width: 12% !important;
    }
}


@media screen and (max-width: 767px){
    .p-two__text .title{
        font-size: calc(0.6vh + 0.6vw) !important;
    }
    .p-two__text .subtitle{
        font-size: calc(0.6vh + 0.6vw) !important;
    }
}

@media screen and (max-width: 767px){
    #p-two .fade{
        width: 130% !important;
    }
}

@media screen and (max-width: 550px){
    .p-two__text{
        position: absolute;
        bottom: 5%;
        /* margin-bottom: 30%; */
        margin-left: 10%;
    }
    .p-two__text .title{
        font-size: calc(1.1vh + 1.1vw) !important;
    }
    .p-two__text .subtitle{
        font-size: calc(1vh + 1vw) !important;
    }
}

@media screen and (max-width: 767px){
    .p-three_item2-title,
    .p-three_item1-title{
        font-size: calc(1.3vh + 1.3vw);
    }

    .p-three_item1-title span,
    .p-three_item2-title span{
        font-size: calc(1.6vh + 1.6vw);
    }
}

@media screen and (max-width: 500px){
    .p-three_item2-title,
    .p-three_item1-title{
        font-size: calc(1.2vh + 1.2vw);
    }

    .p-three_item1-title span,
    .p-three_item2-title span{
        font-size: calc(1.5vh + 1.5vw);
    }
}

@media screen and (max-width: 650px){
    .item-1__img,
    .item-2__img{
        margin-bottom: 12%;
    }
}
@media screen and (max-width: 1500px){
    .item-1__img img,
    .item-2__img img{
        width: 50%;
    }
}
@media screen and (max-width: 1200px){
    .item-1__img img,
    .item-2__img img{
        width: 40%;
    }
}
@media screen and (max-height: 450px){
    .item-1__img img,
    .item-2__img img{
        width: 35%;
    }
    .item-1__img,
    .item-2__img{
        justify-content: end;
        margin-right: 10%;
    }
    .p-three_item1-title{
        margin-left: 5%;
    }
    .p-three_item2-title{
        margin-left: 10%;
    }
}

@media screen and (max-width: 460px){
    .item-1__img,
    .item-2__img{
        display: flex;
        justify-content: center;
        align-items: end;
        margin-bottom: 17%;
        margin-right: 0;
    }
    .item-1__img img,
    .item-2__img img{
        width: 65%;
    }
}

@media screen and (max-width: 890px){
    .cards {
        width: fit-content;
        float: unset;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        /* margin-top: 30px !important; */
        display: -webkit-box !important ;
    }
    .responsive-cards{
        overflow-x: auto;
    }
}

@media screen and (max-width: 600px){
    .card {
        width: 300px !important;
        height: 400px !important;
    }
    .cards .img img{
        width: 70% !important;
    }
    .card__body {
        font-size: 14px !important;
        padding: 20px;
    }
    .card__face--front h2{
        font-size: 25px;
    }
    #p-three .header{
        margin-top: 20%;
        text-align: center;
        
    }
}
@media screen and (max-width: 400px){
    .card {
        width: 250px !important;
        height: 350px !important;
    }
    .cards .img img{
        width: 65% !important;
    }
    .card__body {
        font-size: 12px !important;
        padding: 10px;
    }
    #p-three .header{
        margin-top: 22%;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 767px){
    #p-three .header{
        font-size: 25px;
    }
}

@media screen and (max-width: 767px){

    .fp-slide, .fp-slidesContainer{
        height: 500px;
    }
}