
@media screen and (max-width: 767px){
    #p-one .logo{
        max-width: 20%;
    }
    .p-one__text .title{
        font-size: calc(1.8vh + 1.8vw);
    }
    .p-one__text .subtitle{
        font-size: calc(1.8vh + 1.8vw);
    }
}
@media screen and (max-width: 550px){
    .p-one__text .title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .p-one__text .subtitle{
        font-size: calc(1.3vh + 1.3vw);
    }
    #p-one .img-sun,
    #p-two .img-sun-rev{
        max-width: 40%;
    }
}
@media screen and (max-width: 425px){
    #p-one .logo{
        max-width: 35% !important;
    }
    #p-one .img-sun,
    #p-two .img-sun-rev{
        max-width: 80%;
    }
    .p-one__text{
        margin-top: 10%;
        
    }
}
@media screen and (max-height: 425px){
    .p-one__text{
        bottom: 0;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 767px){
    .p-two__text .title{
        font-size: calc(0.6vh + 0.6vw) !important;
    }
    .p-two__text .subtitle{
        font-size: calc(0.6vh + 0.6vw) !important;
    }
}

@media screen and (max-width: 550px){
    .p-two__text{
        position: absolute;
        bottom: 0;
        margin-bottom: 30%;
        margin-left: 10%;
    }
    .p-two__text .title{
        font-size: calc(1vh + 1vw) !important;
    }
    .p-two__text .subtitle{
        font-size: calc(0.9vh + 0.9vw) !important;
    }
}

@media screen and (max-width: 500px){
    .gazo-silikatniy-block{
        max-width: 60%;
        margin-bottom: 25%;
        margin-left: 11%;
    }
}

@media screen and (max-width: 767px){
    .order-button{
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 6%;
        margin-right: 6%;
        font-size: calc(1.1vh + 1.2vw);
    }
}

@media screen and (max-width: 767px){
    .slider .buttons button{
        width: 30px;
        height: 30px;
        font-size: calc(1vh + 1vh);
    }
}
