#p-one .title{
    transform: translate(-100px, 0px);
    opacity: 0;
    transition: all .9s ease 0s;
}
#p-one .title.active{
    transform: translate(0px, 0px);
    opacity: 1;
}
#p-one .subtitle{
    transform: translate(0px, 120px);
    opacity: 0;
    transition: all .9s ease 0s;
}
#p-one .subtitle.active{
    transform: translate(0px, 0px);
    opacity: 1;
}

#p-two .title{
    transform: translate(-100px, 0px);
    opacity: 0;
    transition: all .9s ease 0s;
}
#p-two .title.active{
    transform: translate(0px, 0px);
    opacity: 1;
}
#p-two .subtitle{
    transform: translate(-60px, 0px);
    opacity: 0;
    transition: all .7s ease 0s;
}
#p-two .subtitle.active{
    transform: translate(0px, 0px);
    opacity: 1;
}
