.p-one__text .title{
    transform: translate(0px, -100px);
    opacity: 0;
    transition: all .8s ease-out;
}
.fp-viewing-0 .p-one__text .title{
    transform: translate(0px, 0px);
    opacity: 1;
}
.p-one__text .subtitle{
    transform: translate(-100px, 0px);
    opacity: 0;
    transition: all .8s ease-out;
}
.fp-viewing-0 .p-one__text .subtitle{
    transform: translate(0px, 0px);
    opacity: 1;
}

.p-two__text .title{
    transform: translate(0px, 210px);
    opacity: 0;
    transition: all .8s ease-out;
}
.fp-viewing-1 .p-two__text .title{
    transform: translate(0px, 0px);
    opacity: 1;
}
.p-two__text .subtitle{
    transform: translate(0px, 170px);
    opacity: 0;
    transition: all .8s ease-out;
}
.fp-viewing-1 .p-two__text .subtitle{
    transform: translate(0px, 0px);
    opacity: 1;
}

#p-three .header{
    transform: translate(0px, -130px);
    opacity: 0;
    transition: all .8s ease-out;
}
.fp-viewing-2 #p-three .header{
    transform: translate(0px, 0px);
    opacity: 1;
}

#p-three .cards{
    transform: translate(-150px, 0px);
    opacity: 0;
    transition: all 1.5s ease-out;
}
.fp-viewing-2 #p-three .cards{
    transform: translate(0px, 0px);
    opacity: 1;
}