body{
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

h1, h2{
    margin: 0;
}

.p-section{
    height: 100svh !important;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#p-one{
    background: #637a2f;
    /* background: #2A6C4D; */
    height: 100svh !important;
}
#p-one .logo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 12%;
    margin-left: 5%;
    margin-top: 5%;
}
.p-one__text{
    position: absolute;
    top: 35%;
    width: fit-content;
    font-weight: 400;
    margin-top: 7%;
    margin-left: 5%;
}
.p-one__text .title{
    color: #001810;
    font-weight: 500;
    font-size: calc(1.5vh + 1.5vw);
}
.p-one__text .subtitle{
    margin-top: 5%;
    color: #CDCDCD;
    font-size: calc(1vh + 1vw);
    font-family: "Montserrat", sans-serif;
}
.img-sun-rev{
    max-width: 40%;
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
}
.img-sun{
    max-width: 40%;
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 0;
}
@media screen and (max-width: 400px){
    #p-one .logo{
        max-width: 70% !important;
    }
}

#p-two{
    background:#7e813c;
}
.p-two__text{
    position: absolute;
    width: fit-content;
    font-weight: 400;
    margin-top: 7%;
    margin-left: 5%;
    bottom: 8%;
}
.p-two__text .title{
    color: #001810;
    font-weight: 500;
    font-size: calc(1.1vh + 1.1vw);
    font-family: "Montserrat", sans-serif;
}
.p-two__text .subtitle{
    margin-top: 5%;
    color: #f1f1f1;
    font-size: calc(0.8vh + 0.8vw);
    font-family: "Montserrat", sans-serif;
}
.order-button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2.2%;
    margin-right: 2.2%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #001810;
    background: #268257;
    padding: 15px 20px;
    border: 0;
    border-radius: 15px;
    font-size: calc(.9vh + .9vw);
    transition: ease .3s;
}
.order-button:hover{
    cursor: pointer;
    background: #4baa7e;
}

.slider{
    width: 100vw;
    max-width: 100vw;
    height: 100lvh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.item-1{
    background: #637a2f;
    height: 100vh;
    width: 100vw;
}

.item-1,
.item-2,

.item-1__img,
.item-2__img{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 6%;
}

.item-1__img,
.item-2__img{
    justify-content: end;
    margin-right: 15%;
}
.item-1__img img,
.item-2__img img{
    width: 60%;
}
p{
    padding: unset !important;
    margin: unset !important;
}

.item-2{
    height: 100vh;
    width: 100%;
    background: #637a2f;
    position: relative;
}


.p-three_item1-title{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 0;
    color: #e6e6e6;
    font-size: calc(.9vh + .9vw);
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    margin-left: 3.333%;
}
.p-three_item1-title span,
.p-three_item2-title span{
    font-size: calc(1.2vh + 1.2vw);
}
.p-three_item2-title{
    margin-left: 6.666%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    color: #e6e6e6;
    font-size: calc(.9vh + .9vw);
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
}

a.phone-number{
    /* text-decoration: none; */
    color: #FFF;
}

.fp-arrow-right img,
.fp-arrow-left img{
    width: 32px;
}
.fp-arrow-right,
.fp-arrow-left{
    width: 32px;
    height: 32px;
    background: #27581679;
    border-radius: 8px;
}
